@model ToDoApp.Models.TaskItem

@{
    ViewBag.Title = "Create Task";
}

@using (Html.BeginForm("Create", "Tasks", FormMethod.Post))
{
    <p>
        @Html.LabelFor(m => m.Name, "Task Name")<br />
        @Html.TextBoxFor(m => m.Name)
    </p>
    <p>
        @Html.LabelFor(m => m.IsCompleted, "Completed")<br />
        @Html.CheckBoxFor(m => m.IsCompleted)
    </p>
    <p>
        @Html.LabelFor(m => m.CreatedDateTime, "Date")<br />
        @Html.TextBox("Date", null, new { type = "date" })
    </p>
    <p>
        @Html.LabelFor(m => m.CreatedDateTime, "Time")<br />
        @Html.TextBox("Time", null, new { type = "time" })
    </p>
    <p>
        @Html.HiddenFor(m => m.CreatedDateTime)
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
}