@model ToDoApp.ViewModels.IndexViewModel
@using ToDoApp.Infrastructure

@{
    ViewBag.Title = "Task List";
}

<style>
    .task-list { list-style-type: square; }
    .task-list li { margin: 5px 0; }
</style>

<h3>Task List</h3>
@Html.CreateTaskList(Model.Tasks)

<h3>Create New Task</h3>
<a href="/Tasks/Create">Add New Task</a>

<h3>Filter Tasks</h3>
@using (Html.BeginForm("Index", "Tasks", FormMethod.Get))
{
    <label>Status:</label>
    @Html.DropDownListFor(m => m.Status, Model.StatusOptions)
    <label>Time:</label>
    @Html.DropDownListFor(m => m.TimeFilter, Model.TimeFilterOptions)
    <button type="submit">Apply</button>
}

<h3>Add Task (Legacy)</h3>
<form method="post" action="/Tasks/Add">
    <label>Task Name:</label><br />
    <input name="task.Name" placeholder="Enter task name" /><br />
    <label>Completed:</label><br />
    <input type="checkbox" name="task.IsCompleted" value="true" /><br />
    <button type="submit">Add</button>
</form>

<h3>Get Tasks (JSON)</h3>
<a href="/Tasks/GetTasks">View tasks in JSON</a>

<h3>Redirect Demo</h3>
<a href="/Tasks/RedirectToInfo">Go to Info</a>

<h3>Find Task</h3>
<form method="get" action="/Tasks/FindTask">
    <input name="name" placeholder="Enter task name" /><br />
    <button type="submit">Find</button>
</form>

<h3>Download Tasks</h3>
@using (Html.BeginForm("DownloadTasks", "Tasks", FormMethod.Get))
{
    @Html.DropDownListFor(m => m.Status, Model.StatusOptions)
    @Html.DropDownListFor(m => m.TimeFilter, Model.TimeFilterOptions)
    <button type="submit">Download</button>
}

@section Footer {
    Copyright © ToDoApp, @DateTime.Now.Year. All rights reserved
}