@model ToDoApp.ViewModels.IndexViewModel
@using ToDoApp.Infrastructure

@{
    ViewBag.Title = "Task List";
}

<style>
    .task-list { list-style-type: square; }
    .task-list li { margin: 5px 0; }
    .link { color: #0066cc; text-decoration: underline; }
</style>

<h3>Task List</h3>
@Html.CreateTaskList(Model.Tasks)

@foreach (var task in Model.Tasks)
{
    <div>
        @Html.ActionLink("Delete", "Delete", "Tasks", new { id = task.GetHashCode() }, new { @class = "link" })
    </div>
}

<h3>Create New Task</h3>
@Html.ActionLink("Add New Task", "Create", "Tasks", null, new { @class = "link" })

<h3>Filter Tasks</h3>
@using (Html.BeginForm("Index", "Tasks", FormMethod.Get))
{
    <label>Status:</label>
    @Html.DropDownListFor(m => m.Status, Model.StatusOptions)
    <label>Time:</label>
    @Html.DropDownListFor(m => m.TimeFilter, Model.TimeFilterOptions)
    <button type="submit">Apply</button>
}

<h3>Add Task (Legacy)</h3>
@using (Html.BeginForm("Add", "Tasks", FormMethod.Post))
{
    <label>Task Name:</label><br />
    @Html.TextBox("task.Name", null, new { placeholder = "Enter task name" })<br />
    <label>Completed:</label><br />
    @Html.CheckBox("task.IsCompleted", false)<br />
    <button type="submit">Add</button>
}

<h3>Get Tasks (JSON)</h3>
@Html.ActionLink("View tasks in JSON", "GetTasks", "Tasks", new { isAuthorized = true }, new { @class = "link" })

<h3>Redirect Demo</h3>
@Html.ActionLink("Go to Info", "RedirectToInfo", "Tasks", null, new { @class = "link" })

<h3>Find Task</h3>
@Html.ActionLink("Find Task", "FindTask", "Tasks", new { name = "Enter task name" }, new { @class = "link", id = "find-task" })

<h3>Download Tasks</h3>
@using (Html.BeginForm("DownloadTasks", "Tasks", FormMethod.Get))
{
    @Html.DropDownListFor(m => m.Status, Model.StatusOptions)
    @Html.DropDownListFor(m => m.TimeFilter, Model.TimeFilterOptions)
    <button type="submit">Download</button>
}

@section Footer {
    Copyright © ToDoApp, @DateTime.Now.Year. All rights reserved
}